[Unit]
Description=ADA Discord Bot
[Install]
WantedBy=multi-user.target
[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/adabot/ada.py
WorkingDirectory=/root/adabot

